include README.md
include LICENCE.md
include libcbm_runner/tests/libcbm_data
include libcbm_runner/tests/libcbm_data/combos
include libcbm_runner/tests/libcbm_data/common
include libcbm_runner/tests/libcbm_data/countries
include libcbm_runner/tests/libcbm_data/demand
include libcbm_runner/tests/libcbm_data/combos
include libcbm_runner/tests/libcbm_data/combos/hat.yaml
include libcbm_runner/tests/libcbm_data/demand
include libcbm_runner/tests/libcbm_data/demand/reference
include libcbm_runner/tests/libcbm_data/demand/reference/fw_demand.csv
include libcbm_runner/tests/libcbm_data/demand/reference/irw_demand.csv
include libcbm_runner/tests/libcbm_data/countries
include libcbm_runner/tests/libcbm_data/countries/ZZ
include libcbm_runner/tests/libcbm_data/countries/ZZ/common
include libcbm_runner/tests/libcbm_data/countries/ZZ/common/disturbance_types.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/common/classifiers.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/common/age_classes.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/silv
include libcbm_runner/tests/libcbm_data/countries/ZZ/silv/harvest_factors.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/silv/vol_to_mass_coefs.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/silv/irw_frac_by_dist.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/silv/events_templates.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/mgmt
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/mgmt/inventory.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/mgmt/growth_curves.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/mgmt/transitions.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/mgmt/events.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/nd_nsr
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/nd_nsr/inventory.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/nd_nsr/growth_curves.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/nd_nsr/transitions.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/nd_nsr/events.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/nd_sr
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/nd_sr/inventory.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/nd_sr/growth_curves.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/nd_sr/transitions.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/nd_sr/events.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/deforestation
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/deforestation/inventory.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/deforestation/growth_curves.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/deforestation/transitions.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/deforestation/events.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/afforestation
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/afforestation/inventory.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/afforestation/growth_curves.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/afforestation/transitions.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/activities/afforestation/events.csv
include libcbm_runner/tests/libcbm_data/countries/ZZ/config
include libcbm_runner/tests/libcbm_data/countries/ZZ/config/associations.csv
include libcbm_runner/tests/libcbm_data/common
include libcbm_runner/tests/libcbm_data/common/reference_years.csv
include libcbm_runner/tests/libcbm_data/common/country_codes.csv
recursive-include *.csv
