accli==0.8.0
annotated-types==0.7.0
attrs==25.3.0
autopaths==1.6.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.3.0
decorator==5.2.1
dill==0.4.0
et_xmlfile==2.0.0
eu_cbm_hat @ git+https://gitlab.com/bioeconomy/eu_cbm/eu_cbm_hat.git@ec13acb26a54563b42f69b5441c8eeb15e617119
gitdb==4.0.12
GitPython==3.1.45
idna==3.10
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
libcbm @ git+https://github.com/cat-cfs/libcbm_py.git@e68be1b7c369d9bcf47e31980864f0b0a721aeba
llvmlite==0.45.0
markdown-it-py==4.0.0
mdurl==0.1.2
mock==5.2.0
multiprocess==0.70.18
numba==0.62.0
numexpr==2.13.0
numpy==2.3.3
openpyxl==3.1.5
p_tqdm==1.4.2
pandas==2.3.2
pathos==0.3.4
pbs3==3.0.2
plumbing==2.11.2
pox==0.3.6
ppft==1.7.7
py==1.11.0
pyarrow==21.0.0
pydantic==2.11.9
pydantic_core==2.33.2
Pygments==2.19.2
pymarktex==1.4.6
pystache==0.6.8
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.5
retry==0.9.2
rich==14.1.0
rpds-py==0.27.1
scipy==1.16.2
shellingham==1.5.4
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
tinydb==4.8.2
tqdm==4.67.1
typer==0.19.2
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
